<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
  <resizer>
    <pipeline fakeExtensions=".ashx" />
    <plugins>
      <!--add name="AzureReader2" prefix="~/" connectionString="UseDevelopmentStorage=true" endpoint="http://127.0.0.1:10000/devstoreaccount1/" /-->
      <add name="AzureReader2" prefix="~/" connectionString="DefaultEndpointsProtocol=https;AccountName=socialst;AccountKey=6izmJM/Dsz2gQEhd0HWFNfN3A4CMokjhrVdfoLsPo/q3osHqjhF5Ng+rhxYOI/2tbhsGHQb/GryKKeIpuyB6EQ==" endpoint="https://socialst.blob.core.windows.net/" lazyExistenceChceck="true" />
      <add name="MvcRoutingShim" />
      <add name="DiskCache"/>
    </plugins>
    <diskCache autoClean="true"/>
    <cleanupStrategy/>
  </resizer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>